.user-container{
    background-color: rgb(239, 205, 160);
    padding: 10px;
    color: rgb(42, 26, 97);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

#user-img{
    width: 50%;
    border-radius: 50%;
}